extends layout

block content
    .container
        #header.span11
            h1= "mike adams"
                .row
                a.zocial.icon.facebook(href="https://www.facebook.com/mgadams3", target="_blank")
                a.zocial.icon.twitter(href="https://twitter.com/mgadams3", target="_blank")
                a.zocial.icon.wordpress(href="http://mikeincode.com/", target="_blank")
                a.zocial.icon.github(href="https://github.com/michaelglenadams", target="_blank")
                a.zocial.icon.linkedin(href="http://www.linkedin.com/in/mgadams3", target="_blank")
                a.zocial.icon.quora(href="http://www.quora.com/Mike-Adams-6", target="_blank")
                a.zocial.icon.email(href="http://www.quora.com/Mike-Adams-6", target="_blank")

        #proj.span12
            .row
                h1.span1.title= "projects"
                a.span3.box.insta(href="http://instahood.meteor.com", target="_blank")
                    div
                        p= "Instahood uses HTML5 geolocation to find the most recent instagram photos taken around you, plots them on the map and shows their thumbnails in a gallery."
                        p= "It made the top spot of hackernews and had over 10,000 uniq visitors in just 48 hours"
                        p= "Instahood is built in meteor.js"
                a.span3.box.durand(href="http://durand.nodejitsu.com/app/index.html#/", target="_blank")
                    div
                        p= "The Durand Dashboard is a prototype demo application that provides a high-level sales overview for managers to set promotion goals and measure their effectiveness."
                        p= "The app is served from a Node.js server on Nodejitsu."
                a.span3.box.streak(href="#")
                    div
                        p= "Streak is a work in progress, please check back soon."


        #exp.span12
            .row
                h1.span1.title= "experience"
                a.span3.box.degreed(href="http://degreed.com", target="_blank")
                    div
                        p= "Never. Stop Learning.  Degreed measures and scores your education your whole life through."
                        p= "Since co-founding Degreed, I've taught myself web development, computer science and databases."
                a.span3.box.brg(href="http://www.brg-expert.com", target="_blank")
                    div
                        p= "Berkeley Research Group (BRG) is an economic consulting firm located in Emeryville, CA."
                        p= "At BRG I performed extensive economic modeling and analysis for Fortune 50 companies"
                a.span3.box.mtc(href="http://www.mtc.byu.edu/", target="_blank")
                    div
                        p= "The Missionary Training Center (MTC) is an intensive program to prepare missionaries for service around the world."
                        p= "I taught people how to teach people for 3 years at the MTC and loved every minute. I also managed a group of 10 teachers."

        #edu.span12
            .row
                h1.span1.title= "education"
                a.span3.box.byu(href="http://www.byu.edu", target="_blank")
                    div
                        p= "I have a BS in Economics from Brigham Young University."
                        //- p= ""
                a.span3.box.hr(href="http://www.hackreactor.com", target="_blank")
                    div
                        p= "I've spent the last two months working 6 days a week 12+ hours a day on improving my development abilities at Hack Reactor."
                a.span3.box.ga(href="https://generalassemb.ly/learn/web-development", target="_blank")
                    div
                        p= "I took a 16 week introduction to web development course focusing on the front-end and ruby/rails."

        #plc.span12
            .row
                h1.span1.title= "places"
                .span3.box.cali
                    div
                        p= "I live in San Francisco and never plan on leaving. Let's go Giants! "
                .span3.box.ut
                    div
                        p= "I was born in UT and went to college in Provo at BYU. Truly the greatest snow on earth."
                .span3.box.az
                    div
                        p= "My family lives in Phx and I went to high school there. Best golf around."

        #fam.span12
            .row
                h1.span1.title= "family"
                .span3.box.man
                    div
                        p= "See adams.jit.su..."
                .span3.box.woman
                    div
                        p= "I'm married to my beautiful wife Stephanie.  She is a CPA and currently works at Sequoia Capital as a Fund Accountant"
                .span3.box.baby
                    div
                        p= "Baby adams is due September 2013..."
