extends layout

block content
    .container
        #header.span11
            h1= "mike adams"
                .row
                a.zocial.icon.facebook(href="https://www.facebook.com/mgadams3", target="_blank")
                a.zocial.icon.twitter(href="https://twitter.com/mgadams3", target="_blank")
                a.zocial.icon.wordpress(href="http://mikeincode.com/", target="_blank")
                a.zocial.icon.github(href="https://github.com/michaelglenadams", target="_blank")
                a.zocial.icon.linkedin(href="http://www.linkedin.com/in/mgadams3", target="_blank")
                a.zocial.icon.quora(href="http://www.quora.com/Mike-Adams-6", target="_blank")
                a.zocial.icon.email(href="http://www.quora.com/Mike-Adams-6", target="_blank")

        #proj.span12
            .row
                h1.span1.title= "Projects"
                a.span3.box.insta(href="http://instahood.meteor.com", target="_blank")
                a.span3.box.durand(href="http://durand.nodejitsu.com/app/index.html#/", target="_blank")
                a.span3.box.streak(href="#")

        #exp.span12
            .row
                h1.span1.title= "Experience"
                a.span3.box.degreed(href="http://degreed.com", target="_blank")
                a.span3.box.brg(href="http://www.brg-expert.com", target="_blank")
                a.span3.box.mtc(href="http://www.mtc.byu.edu/", target="_blank")

        #edu.span12
            .row
                h1.span1.title= "Education"
                a.span3.box.byu(href="http://www.byu.edu", target="_blank")
                a.span3.box.hr(href="http://www.hackreactor.com", target="_blank")
                a.span3.box.ga(href="https://generalassemb.ly/learn/web-development", target="_blank")

        #plc.span12
            .row
                h1.span1.title= "Places"
                .span3.box.cali
                .span3.box.ut
                .span3.box.az

        #fam.span12
            .row
                h1.span1.title= "Family"
                .span3.box.man
                .span3.box.woman
                .span3.box.baby