extends layout

block content
    .container
        #header.span11
            h1= "mike adams"
                .row
                a.zocial.icon.facebook(href="https://www.facebook.com/mgadams3", target="_blank")
                a.zocial.icon.twitter(href="https://twitter.com/mgadams3", target="_blank")
                a.zocial.icon.wordpress(href="http://mikeincode.com/", target="_blank")
                a.zocial.icon.github(href="https://github.com/michaelglenadams", target="_blank")
                a.zocial.icon.linkedin(href="http://www.linkedin.com/in/mgadams3", target="_blank")
                a.zocial.icon.quora(href="http://www.quora.com/Mike-Adams-6", target="_blank")
                a.zocial.icon.email(href="mailto:michaelglenadams@gmail.com")

        #proj.span12
            .row
                h1.span1.title= "projects"
                a.span3.box.insta(href="http://instahood.meteor.com", target="_blank")
                    div
                        p= "Instahood is a meteor.js application that made the top stop on hackernews and had over 10,000 unique visits in 48 hrs."
                        p= "Instahood was also featured in Mashable"
                a.span3.box.durand(href="http://durand.nodejitsu.com/app/index.html#/", target="_blank")
                    div
                        p= "The Durand Dashboard is a prototype management dashboard application built using Angular.js, HighCharts and Node.js."
                a.span3.box.streak(href="#")
                    div
                        p= "Streak is a work in progress, please check back soon."

        #exp.span12
            .row
                h1.span1.title= "experience"
                a.span3.box.degreed(href="http://degreed.com", target="_blank")
                    div
                        p= "Co-founder and engineer."
                        p= "Seed round of $1M and inaugural TechStars/Kaplan EdTech Accelerator in NYC"
                        p= "Developing the full-stack in ASP.NET MVC/Azure."
                a.span3.box.brg(href="http://www.brg-expert.com", target="_blank")
                    div
                        p= "Economic consulting firm in Emeryville, CA."
                        p= "Performed extensive financial modeling and statistical analysis for ExxonMobil."
                a.span3.box.mtc(href="http://www.mtc.byu.edu/", target="_blank")
                    div
                        p= "I taught people how to teach people for 3 years and loved every minute."
                        p= "I also managed a group of 10 teachers."

        #edu.span12
            .row
                h1.span1.title= "education"
                a.span3.box.byu(href="http://www.byu.edu", target="_blank")
                    div
                        p= "Have a BS in Economics from Brigham Young University."
                a.span3.box.hr(href="http://www.hackreactor.com", target="_blank")
                    div
                        p= "Spent 3 months working 6 days a week 12+ hours a day learning from some of the best engineers in the world at Hack Reactor."
                a.span3.box.ga(href="https://generalassemb.ly/learn/web-development", target="_blank")
                    div
                        p= "16 week, 2 days a week web development course focusing on HTML/CSS and Ruby/Rails."

        #plc.span12
            .row
                h1.span1.title= "places"
                .span3.box.cali
                    div
                        p= "Live in San Francisco, currently in Potrero Hill."
                .span3.box.ut
                    div
                        p= "Grew up and went to college in Utah."
                .span3.box.az
                    div
                        p= "Went to High School in Phoenix."

        #fam.span12
            .row
                h1.span1.title= "family"
                .span3.box.man
                    div
                        p= "See adams.jit.su..."
                .span3.box.woman
                    div
                        p= "Married to my beautiful wife Stephanie.  She is a CPA and currently works at Sequoia Capital."
                .span3.box.baby
                    div
                        p= "Baby Jack due September 13, 2013"
